/* Form Add a New Song */
#form-song-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 15%;
  width: calc(100% - 30%);
  height: 45px;
  margin-bottom: 20px;
  padding: 0;
}
#form-song-input > div {
  width: 20%;
  height: 100%;
}

#form-song-input > div > input {
  width: 90%;
  height: 100%;
}
#form-song-input > div > button {
  width: 90%;
  height: 50px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* Rating Dropdown DIV */
#dropdown-song-rating {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  /* display: inline-block; */
  width: 90%;
  height: 100%;
}

/* Rating Dropdown Button */
#dropdown-song-rating-button {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: gold;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#dropdown-song-rating:hover #dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropdown-song-rating:hover #dropdown-song-rating-button {
  background-color: #3e8e41;
}
/* -------------------- */
/* -------------------- */
/* -------------------- */

#genre-container {
  position: relative;
  display: grid;
  grid: 1fr 1fr /1fr 1fr 1fr 1fr 1fr;
  left: 15%;
  width: calc(100% - 30%);
  gap: 20px;
  justify-content: space-between;
  padding: 0;
}

.genre-box {
  border: solid grey;
  border-radius: 8px;
  max-height: 300px;
  width: 1fr;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 26px;
  font-weight: bold;
}

.app-titles {
  position: relative;
  display: flex;
  left: 15%;
  width: calc(100% - 30%);
  margin: 0 0 20px 0;
  padding: 0;
}

.app-titles > h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.genre-row {
  display: flex;
  position: relative;
  padding: 0;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
}

.genre-row > p {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 2px;
  padding: 0;
}

#music-library {
  position: relative;
  width: 70%;
  left: 15%;
  border: solid grey;
  margin: 0;
  padding: 20px 0 20px 0;
  border-radius: 8px;
}

#music-library-header {
  display: flex;
  width: 100%;
  margin: 20px;
}

#music-library-header > div {
  width: 20%;
  font-weight: bold;
}

#songs-list {
  padding: 0 0 0 20px;
}

.song-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.song-row > div {
  width: 20%;
}

#song-delete-button {
  position: relative;
  width: 50%;
  background-color: grey;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
